.buttonposition1
  {

  position: absolute;
  right: 510px;
  top: 300px; }
  
  .buttonposition2
  {

  position: absolute;
  right: 810px;
  top: 300px; }
  

  
  .mainnamecategory1
  {
  
  position: absolute;
  right: 510px;
  top: 250px; 

  
}  

.isertmaincategory
{
  position: absolute;
  right: 780px;
  top: 200px; 
    
}

.isertminorcategory
{
  position: absolute;
  right: 480px;
  top: 200px; 
    
}

.mainnamecategory2
  {
  
  position: absolute;
  right: 810px;
  top: 250px; 

  
}    
          